# directories
.vs
*.user
bin
interm*
out
staging
temp

# files
*.exe
*.pdb
*.log
*.elf
.vscode/settings.json
langant-explorer-linux.md

# testing
testing/*.expected
testing/*.actual
testing/run/*.actual*
