# directories
.vscode
.vs
*.user
bin
interm*
out

# files
*.exe
*.pdb

langant-explorer/simulate/*.json
langant-explorer/simulate/*.pgm

# testing
langant-explorer/testing/report.md
langant-explorer/testing/*.expected
langant-explorer/testing/*.actual
langant-explorer/testing/run/*.actual*
