# directories
.vscode
.vs
*.user
bin
interm*
out

# files
*.exe
*.pdb
*.json
*.pgm

# ntest
ant-simulator-lite/testing/report.md
ant-simulator-lite/testing/*.expected
ant-simulator-lite/testing/*.actual

# testing
ant-simulator-lite/testing/run_with_save_points/*.actual*
